* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* navbar */
  --navy-blue: #005a70;
  /* section */
  --peach: #fff8f0;
  /* section */
  --sage: #a4baba;
  /* accent/buttons */
  --teal: #0a8194;
  /* section */
  --light-peach: #f7ebde;
  /* section */
  --light-sage: #d4dfdb;
}

#main-section {
  background-color: var(--peach);
  max-height:100%;
  margin-right:auto;
  margin-left:auto;
}

#nav-menu{
background-color: var(--navy-blue);


}

#nav-brand{
  color: #ffffffe7;
}

#title-card{
  background-color: transparent;
  border:none;
  color:black;
  
}