* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* navbar */
  --navy-blue: #9ad0dd;
  /* section */
  --peach: #fff8f0;
  /* section */
  --sage: #a4baba;
  /* accent/buttons */
  --teal: #3d95a3;
  /* section */
  --light-peach: #f7ebde;
  /* section */
  --light-sage: #d4dfdb;

  /* fonts */
  --font-black: rgb(46, 46, 46);
  /* font black text-shadow */
  --black-shdw: 3px 1px 6px rgba(46, 46, 46, 0.26);

  --light-black: rgba(44, 44, 44, 0.905);
  /* light black text shadow */
  --light-shadow: 3px 1px 6px rgba(44, 44, 44, 0.19);

  --noto-sans: "Noto Sans", sans-serif;
  --roboto: "Roboto", sans-serif;
}

#main-section {
  background-color: var(--peach);
  max-height: 100%;
  margin-right: auto;
  margin-left: auto;
}

#main-container {
  padding-top: 5em;
  padding-bottom: 5em;
}
#nav-menu {
  padding-top: 1rem;
  background-color: var(--teal);
  font-size: 1.3em;
  font-family: var(--roboto);
  font-weight: 200;
}
a.nav-link {
  color: var(--peach);
}

a.nav-link:hover {
  color: var(--light-black);
}

#title-card {
  background-color: transparent;
  border: none;
  color: var(--font-black);
  font-family: var(--noto-sans);
  font-size: 2rem;
  margin: 0.75em;
  letter-spacing: 0.02125em;
}

#main-text {
  text-shadow: var(--light-shadow);
}

#nav-link {
  text-shadow: var(--light-black);
}
#my-portrait {
  max-width: 100%;
  height: auto;
  box-shadow: 7px 8px 27px 0.25px rgba(0, 0, 0, 0.58);
  border-radius: 6px 6px 6px 6px;
}

#projects-section {
  background-color: var(--sage);
}

#projects-container {
  font-size: 4em;
}

#contact-btn {
  background-color: var(--teal);
  color: white;
  font-size: 0.75em;
  font-weight: 200px;
  letter-spacing: 0.1em;
  border: none;
}
#contact-btn:hover {
  background-color: aquamarine;
}

.project-text {
  font-size: 0.3em;
  text-align: center;
}

#projects-container {
  padding-top: 12rem;
}


