:root {
    /* navbar */
    --navy-blue:#005a70; 
    /* section */
    --peach:#fff8f0;
    /* section */
    --light-sage:#a4baba;
    /* accent/buttons */
    --teal:#0a8194;
    /* section */
    --wheat:#f7ebde;
  }